<h1>Customers#my_page</h1>
<p>Find me in app/views/customers/my_page.html.erb</p>
<li><%= link_to ' logout', destroy_customer_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>